* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1892D3;
    --secondary-color: white;
    --background-color: #E1E8F0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
}

.sidebar {
    display: grid;
    align-items: center;
    grid-template-rows: 75px 1fr 1fr;
    background-color: var(--primary-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 5px;
}

.logo img {
    height: 2em;
    width: 2em;
}

.navigation {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(10, 50px);
}

.navigation div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.navigation div > img {
    height: 1em;
    width: 1em;
}

.logo,
.navigation {
    color: var(--secondary-color);
    margin-left: 20px;
}

.content {
    background-color: var(--background-color);
}

.header,
.content {
    grid-column: 2 / 3;
}

.header {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(2, 75px);
}

.search-input {
    display: flex;
    margin: 50px;
    align-items: center;
}

.searchbar div > img {
    height: 30px;
    width: 30px;
    justify-self: end;
    margin-right: 10px;
}

img[src*=profile] {
    border-radius: 100%;
}

.searchbar img[src*=profile] {
    height: 50px;
    width: 50px;
}

.searchbar {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
}

input {
    border: none;
    width: 50vw;
    background-color: var(--background-color);
    border-radius: 2em;
    height: 35px;
}

.user-info {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.profile {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 35px;
    width: auto;
    font-size: 20px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
    font-size: 24px;
}

.user-profile img[src*=profile] {
    height: 2em;
    width: 2em;
}

.text > p {
    font-size: .5em;
}

.text p + p {
    font-size: 1em;
}

button {
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 35px;
    width: 100px;
    border-radius: 2em;
    margin: 10px;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 330px 1fr;
}

.project > p,
.trending > p,
.announcement > p {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 20px;
}

.project {
    margin-left: 20px;
    grid-row: 1 / 3;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
}

.cards {
    display: grid;
    grid-template-rows: 50px 95px 20px;
    position: relative;
    border-radius: 1em;
    background-color: white;
    height: 175px;
    width: 380px;
    overflow: hidden;
}

.cards > p {
    margin-left: 20px;
}

.cards p:first-child {
    font-size: 1.2em;
    font-weight: 700;
    align-self: end;
}

.cards p + p {
    margin-top: 0;
    font-size: 1em;
}

.cards::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #EFB42A;
}

.announce-card,
.trending-card {
    border-radius: 1em;
    height: 290px;
    width: 350px;
    background-color: white;
}

.trending-card {
    height: 245px;
}

.announcement,
.trending {
    margin-left: 30px;
}

.icons {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.icons img {
    height: 1.2em;
    width: 1.2em;
}

.announce-card > p {
    font-size: 14px;
    margin-left: 20px;
}

.title {
    font-weight: 700;
    padding-top: 15px;
}

hr {
    border: none;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1.5px solid var(--background-color);
}

.trending-card {
    grid-row: repeat(4, 1fr);
}

.trending-profile{
    display: flex;
    align-items: center;
    font-size: 45px;
    gap: 10px;
}
.trending-profile img[src$="jpeg"] {
    width: 1em;
    height: 1em;
}

.user-name {
    font-size: 18px;

}

.user-container {
    padding-top: 13px;
    margin-left: 20px;
}

.user-name > p + p,
.announce-card > p + p,
.cards > p + p {
    color: gray;
}